Revision notes for key concepts

auth.txt
express-validator.txt
bcrypt.txt
react-query.txt
react-hook-form.txt
context.txt
initialzing-express.txt
fetch.txt
good-to-know.txt

.gitignore

/backend/.env
/frontend/.env